<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <!--有=的情况进行输出的，没=时，在里面写javascript逻辑-->
    <%=userName %>
    <ul>
        <% for(var i=0;i<newList.length;i++){ %>
            <li>
                <a href="./detail?newId=<%=newList[i]['newId']" %><%=newList[i]["newTitle"] %></a>
            </li>
            
        <% } %>
        <img src="/images/2.jpg" alt="">
    </ul>
    
</body>
</html>