<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/add" method='post'>
      新闻标题：<input type='text' name='title' />
      新闻内容：<textarea name='content' rows='10'></textarea>
      <input type="submit" value="submit"></input>
    </form>
    
  </body>
</html>
